.text_form{
    width: 500px;
    resize: none;
    box-sizing: border-box;
    height: 100px;
    font-size: large;
    padding: 1%;
}

.post_button{
    color: white;
    background-color: lightskyblue;
    border: 0;
    width: 100px;
    height: 50%;
    font-size: large;
    border:5px solid black;
}

.button_box{
    display: flex;
    margin-left: 1%;
    align-items: flex-end;
}

.formContainer{
    display: flex;
    padding: 1%;
}


.formWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    
    }