.profile_picture{
    height:40px;
    width:  40px;
    border-radius: 50px;
    padding: 10%;
}
.profile_picture_container{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(lightskyblue,black);
    border: 1px solid black;

    
}
.profile_name{
font-size: 16px;
font-weight: bold;

}

.logout button{
    padding: 5px 10px;
    background-color: lightskyblue;
    border-radius: 5px;
    margin: 10%;
    width: 100%;
}
.profile_picture_div{
    margin-right: 5%;
}
