.profile_picture{
    height:40px;
    width:  40px;
    border-radius: 50px;
    padding: 10%;
    box-sizing: border-box;
    object-fit: cover;
}
.profile_picture_container{
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    background-image: linear-gradient(lightskyblue,black);
    border: 1px solid black;
    padding: 5px;
    border-radius: 20px;
}
.profile_name{
font-size: 16px;
font-weight: bold;

}

.logout button{
    padding: 5px;
    background-color: lightskyblue;
    border-radius: 5px;
    margin: 10%;
    width: 100%;
}
.profile_picture_div{
    margin-right: 5%;
}
.logout{
    margin-left: auto;
    margin-right: 10px;
}
