.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1%;
  min-height: 100vh;
  background-image: url('/space.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.logo_box{
  width: 60%;
  height: 30%;
  text-align: center;
  margin: 0 auto;
  margin-left: 15%;
}

.logo_image{
  height: 100%;
  width:  100%;
  border-radius: 25%;
  border: 5px solid lightskyblue;
}

.main_div{
  width: 60%;
  box-sizing: border-box;
  margin: 1%;
}

.container{
  display: flex;
  width: 80%;
  align-items: center;
}

.login{
  display: flex;
  width: 23%;
  margin-left: auto;
  }

