.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1%;
  min-height: 100vh;
  background: url('/space.jpg') no-repeat center center fixed;
  background-size: cover;

}

.logo_box{
  width: 60%;
  height: 30%;
  text-align: center;
  margin: 0 auto;
  margin-left: 15%;
}

.logo_image{
  height: 100%;
  width:  100%;
  border-radius: 25%;
  border: 5px solid lightskyblue;
}

.main_div{
  width: 60%;
  box-sizing: border-box;
  margin: 1%;
}

.container{
  display: flex;
  width: 80%;
  align-items: center;
}

.login{
  display: flex;
  width: 300px;
  margin-left: 30px;
  }

.main_postcontainer{
  margin: 0;
  width: 100vw;
}

